@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

li {
    cursor: pointer;
}

.title{
    text-align: center;
}

.container{
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}

.swot-box{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    height: 80vh;
    gap: 5px;
}


.swot-card{
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: beige;
}

.card-heading{
    color: rgb(0, 87, 186);
    font-size: large;
    font-weight: 600;
    margin: 3px;
}

.card-s{
    background-color: rgb(185, 255, 232);
}
.card-w{
    background-color: bisque;
}
.card-o{
    background-color: rgb(221, 255, 255);
}
.card-t{
    background-color: rgb(254, 225, 229);
}

